.dots-disabled {
  margin-bottom: 0; }
  .dots-disabled .owl-dots {
    display: none; }

.box-arrow {
  display: inline-block; }
  .box-arrow a {
    display: block;
    width: 45px;
    height: 50px;
    margin-left: 15px; }
  .box-arrow a::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 39px;
    width: 22px;
    height: 22px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.service-list {
  list-style: none;
  padding: 10px 0; }

.list-item {
  position: relative;
  padding: 0 25px 0 116px;
  transition: all 0.3s ease; }
  .list-item::before {
    content: "";
    position: absolute;
    right: 80px;
    bottom: 42px;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid rgba(17, 24, 42, 0.25);
    border-right: 2px solid rgba(17, 24, 42, 0.25);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.list-item.not-border .item-link {
  border-color: transparent; }

.list-item.on-hover,
.list-item.active {
  background-color: rgba(0, 126, 255, 0.05); }
  .list-item.on-hover::before,
  .list-item.active::before {
    border-color: rgba(0, 126, 255, 0.25); }
  .list-item.on-hover .item-link,
  .list-item.active .item-link {
    border-color: transparent; }
  .list-item.on-hover [class^="icon-"], .list-item.on-hover [class*=" icon-"],
  .list-item.active [class^="icon-"],
  .list-item.active [class*=" icon-"] {
    color: #007eff;
    opacity: 1; }
  .list-item.on-hover .icon-7,
  .list-item.active .icon-7 {
    background: url(../img/svg/7-blue.svg) center no-repeat; }

.item-link {
  display: block;
  font-size: 2.237em;
  font-weight: 700;
  line-height: 3.2em;
  color: inherit;
  border-bottom: 2px solid rgba(17, 24, 42, 0.05); }

@media screen and (max-width: 600px) {
  h2 {
    font-size: 40px; }
  .list-item::before {
    width: 11px;
    height: 11px;
    right: 50px; } }

@media screen and (max-width: 480px) {
  h2 {
    font-size: 35px; }
  .mm-navbars-top .box-logo {
    display: inline-block; }
  .box-arrow a {
    width: 20px !important;
    margin-left: 5px !important; }
    .box-arrow a::before {
      width: 18px;
      height: 18px;
      top: 16px !important;
      left: 13px !important; }
  .box-logo {
    padding: 7px 0 0 5px; }
  .logo-text {
    padding-left: 0; }
  .box-icon {
    width: 48%; }
  .list-item {
    padding-left: 100px; }
    .list-item::before {
      right: 40px;
      bottom: 38px; }
  .item-link {
    font-size: 1.7em;
    line-height: 3; }
  .list-item::before {
    width: 10px;
    height: 10px;
    bottom: 31px; }
  .icon-1 {
    top: 16px; }
  .icon-2 {
    top: 18px; }
  .icon-3 {
    top: 20px; }
  .icon-4 {
    left: 20px;
    top: 20px; }
  .icon-5,
  .icon-6 {
    top: 17px;
    left: 27px; }
  .icon-7 {
    width: 30px;
    height: 30px; }
  .icon-7,
  .icon-8 {
    top: 17px;
    left: 29px; } }

@media screen and (max-width: 380px) {
  h2 {
    font-size: 30px; }
  .list-item {
    padding-left: 90px; }
    .list-item::before {
      right: 30px;
      bottom: 30px; }
  .item-link {
    font-size: 1.4em; }
  .list-item::before {
    width: 8px;
    height: 8px;
    bottom: 27px; }
  .icon-1 {
    top: 12px; }
  .icon-2,
  .icon-3 {
    top: 16px; }
  .icon-4 {
    top: 16px; }
  .icon-5 {
    top: 14px; }
  .icon-8 {
    top: 16px; }
  .icon-7 {
    top: 13px;
    width: 25px;
    height: 25px; }
  .box-arrow a {
    width: 20px !important;
    margin-left: 5px !important; }
    .box-arrow a::before {
      width: 16px;
      height: 16px;
      border-bottom-width: 3px;
      border-right-width: 3px; } }
