/* reset */
$min-width: 320px; 
$max-width: 767px; 
$base-bg: #FFF; 
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'Roboto', sans-serif; 
$custom-font-family: 'Roboto', sans-serif; 
$link-color: #100da9;
$default-transition: all 0.3s linear;

/* main variables */

//text, titles
$text-color: rgb(17, 24, 42);
$title-color: #fff;
$title-font-family: $custom-font-family;

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 44.15px;
$line-height-h2: 83.02px;
$font-size-h3: 28px;
$line-height-h3: 32px;