
//main styles

.main-wrapper{
	position: relative;
	width: 100%;
	min-width: $min-width;
	min-height: 100%;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
}
.wrapper{
	position: relative;
	min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;	
	padding: 0;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 700;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}

/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon_load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon_load{display:block;}


/*
================================================================================
|                                     NAV                                      |
================================================================================
*/
.mm-menu{
	background: url(../img/bg-img/bg-nav.jpg) 0px -160px no-repeat #007eff;;
	background-size: 100%;
}
.mm-menu.mm-offcanvas{
	width: 83%;
	max-width: 100%;
}
html.mm-opening .mm-menu ~ .mm-slideout{
	transform: translate3d(83%, 0, 0);
}
.mm-navbar{
	height: 0;
	border: 0;
}
.mm-navbars-top{
	height: auto;
	padding: 10px 0 60px 0;
	border: 0;
	background-position: 0px 0px;
	.box-logo{
		text-align: left;
		padding-left: 0;
	}
	.box-logo img{
		width: 60px;
		height: 66px;
	}
	.logo-text{
		font-size: 3.37em;
		padding: 25px 0 0 20px;
		letter-spacing: 0.8px;
	}
}
.mm-navbar.mm-navbar-size-1{
	height: 100%;
}
.mm-listview{
	font-size: 2em;
	line-height: 3.3;
	letter-spacing: 0.5px;
	color: #fff;
}
.mm-listview li{
	position: relative;
	margin: 6px 0;
	&:nth-child(4){
		border-bottom: 2px solid rgb(36, 149, 255);
		margin-bottom: 0;
	}
	&:nth-child(5){
		margin-top: 0;
	}
}
.mm-listview > li > a::before{
	content: "";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 100%;
	background-color: #ffb115;
}

.item_5 a::after{
	content: "";
	position: absolute;
	top: 15px;
	left: 60px;
	width: 70px;
	height: 60px;
	background-image: url(../img/sprites_2.png);
	background-size: 1350px;
	background-repeat: no-repeat;
	background-position: -432px -15px;
}

.mm-listview > li > a:hover::before,
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next)::before{
	display: block;
}
.mm-menu.mm-hoverselected .mm-listview > li > a:not(.mm-fullsubopen):hover,
.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next){
	background-color: rgb(20,141,255);
}
.mm-hasnavbar-top-1 .mm-panels{
	top: 160px;
}
.mm-title{
	display: none;
}
.mm-panels > .mm-panel.mm-hasnavbar{
	padding-top: 60px;
}
.mm-listview-large .mm-listview > li > a:not(.mm-next){
	padding: 0 10px 0 194px;
}
.mm-navbars-bottom{
	border: 0;
	background: rgb(0, 126, 255);
}
.mm-menu .mm-navbar > p{
	font-size: 1.308em;
	color: rgba(255, 255, 255, 0.4);
	padding-bottom: 20px;
}
	/*scroll nav*/
.mCSB_inside > .mCSB_container{
	margin-right: 0;
}
.mCSB_scrollTools{
	opacity: 0;
}
.mCustomScrollBox:hover > .mCSB_scrollTools{
	opacity: 0;
}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag{
	opacity: 0;
}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	width: 100%;
	min-width: $min-width;
	text-align: left;
	order: 2;
	flex-grow: 1;
}
.box-location{
	position: relative;
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.17);
	color: #8c929f;
	z-index: 9;
	& form{
		padding: 10px 0 24px 95px;
	}
}
.box-field__input{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		top: -2px;
		left: -50px;
		width: 30px;
		height: 30px;
		background: url(../img/sprites_2.png) -1236px -20px no-repeat;
		background-size: 1350px;
	}
	.styled{
		width: 240px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}
.box-field__label{
	font-size: 1.56em;
	line-height: 2;
}
.jq-selectbox__select{
	width: 240px;
	height: 30px;
	margin-left: -2px;
	padding: 0 40px 0 0;
	font-family: 'Roboto';
	font-size: 2.308em;
	line-height:  1;
	letter-spacing: -0.27px;
	color: #8c929f;
	background: #fff;
	border: 0;
	border-radius: 0;
}
.jq-selectbox.focused .jq-selectbox__select,
.jq-selectbox__select:hover,
.jq-selectbox__select:active{
	background: none;
}
.jq-selectbox__trigger-arrow{
	top: 4px;
	left: 8px;
	width: 15px;
	height: 15px;
	border-left: 0;
	border-right: 2px solid #8c929f;
	border-top: 2px solid #8c929f;
	transform: rotate(135deg);
}
.jq-selectbox__dropdown{
	left: -2px;
	width: 240px;
	background: #fff;
	border: 1px solid rgba(140, 146, 159, 0.5);
	border-radius: 0;
	box-shadow: none;
}
.jq-selectbox li{
	font-family: 'Roboto';
	font-size: 1.308em;
	color: #8c929f;
}
.jq-selectbox li.selected{
	background-color: rgba(140, 146, 159, 0.7);
}
.jq-selectbox li:hover{
	background-color: #8c929f;
}
.owl-carousel{
	margin-bottom: 37px;
}
.slide{
	position: relative;
}
.box-title{
	display: block;
	position: absolute;
	top: 0;
	left: 41%;
	width: 55%;
	padding: 20px 0 0 15px;
}
.title-text{
	position: relative;
	padding-left: 1px;
	& h2{
		padding-bottom: 0px;
		font-size: 3.95em;
		font-weight: 700;
	}
	& p{
		padding-top: 3px;
		font-size: 2.33em;
		font-weight: 700;
		letter-spacing: 0.5px;
		color: #fff;
	}
}
.box-star{
	position: absolute;
	top: 103px;
	left: 185px;
}
.cost{
	font-size: 1.8em;
}
.star{
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(../img/sprites_2.png) -852px -20px no-repeat;
	background-size: 1350px;
	&--empty{
		background-position: -786px -20px;
	}
}
.title-button{
	margin-top: 37px;
}
.button{
	display: inline-block;
	padding: 12px 99px 13px 101px;
	font-size: 2.43em;
	font-weight: 700;
	line-height: 2;
	color: #fff;
	border-radius: 45px;
	background-color: rgb(0, 126, 255);
	box-shadow: 0px 20px 59px 0px rgba(0, 126, 255, 0.38);
}
.owl-dots{
	position: absolute;
	left: 42.1%;
	bottom: -37px;
}
.owl-dot{
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-left: 24px;
	border-radius: 50%;
	background-color: rgba(17, 24, 42, 0.16);
	&.active{
		background-color: rgba(0, 126, 255, 0.39);
	}
}
.box-search{
	padding: 32px 24px 23px;
	& input{
		width: 100%;
		height: 74px;
		padding: 5px 79px 8px 39px;
		border: 2px solid rgba(17, 24, 42, 0.16);
		border-radius: 35px;
		font-size: 2.18em;
		letter-spacing: 0.4px;
		color: #8c929f;
	}
	button{
		position: absolute;
		top: 0;
		right: 0;
		width: 75px;
		height: 75px;
		border: 0;
		background: url(../img/sprites_2.png) -1283px 3px no-repeat;
		background-size: 1350px;
	}
}
.box-field{
	position: relative;
}
input::-webkit-input-placeholder {color: #8c929f;}
input::-moz-placeholder          {color: #8c929f;}/* Firefox 19+ */
input:-moz-placeholder           {color: #8c929f;}/* Firefox 18- */
input:-ms-input-placeholder      {color: #8c929f;}

/*block*/
.block{
	padding-bottom: 5px;
}
.block-link{
	position: relative;
	display: block;
	&::before{
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 37%;
		left: 0;
		bottom: 0;
		background: linear-gradient(to top, rgba(17, 24, 42, 0.75) 0%, transparent 100%);
	}
}
.block-link img{
	display: block;
	width: 100%;
}
.block-title{
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 14px 11px 0;
	text-align: center;
}

/* icon */
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: absolute;
	top: 27px;
	left: 34px;
	font-size: 1.3em;
	color: rgb(17, 24, 42);
	opacity: 0.39;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-1{
	top: 20px;
	left: 25px;
	font-size: 1.5em;
	&:before {
		content: "\e900";	
	}
}
.icon-2:before {
	content: "\e901";
}
.icon-3{
	left: 27px;
	&:before {
		content: "\e902";
	}
}
.icon-4{
	left: 27px;
	font-size: 1.6em;
	&:before{
		content: "\e903";
	}
}
.icon-5{
	top: 23px;
	left: 35px;
	font-size: 1.4em;
	&:before {
		content: "\e904";
	}
}
.icon-6{
	top: 23px;
	font-size: 1.4em;
	&:before {
		content: "\e905";
	}
}
.icon-7{
	left: 38px;
	width: 35px;
	height: 35px;
	background: url(../img/svg/7.svg) center no-repeat;
}
.icon-8{
	left: 31px;
	font-size: 1.5em;
	transform: rotate(45deg);
	&:before {
		content: "\e907";
	}
}

.icon-9:before {
	content: "\e908";
}
.icon-10:before {
	content: "\e909";
}
.icon-11:before {
	content: "\e90a";
}

.mm-listview{
	& [class^="icon-"]{
		color: #fff;
		opacity: 1;
	}
}
.icon-14{
	top: 19px;
	left: 76px;
	font-size: 1.9em;
	&:before {
		content: "\e90d";
	}
}
.icon-15{
	top: 14px;
	left: 71px;
	font-size: 2.2em;
	&:before {
		content: "\e90e";
	}
}
.icon-16{
	top: 17px;
	left: 76px;
	font-size: 1.78em;
	&:before {
		content: "\e90f";
	}
}
.icon-17{
	top: 22px;
	left: 79px;
	font-size: 1.5em;
	&:before {
		content: "\e910";
	}
}
/*
.icon-18{
	position: absolute;
	top: 13px;
	left: 78px;
	width: 39px;
	height: 44px;
	background: url(../img/icon-18.png) center no-repeat;
	background-size: 100%;
}
*/
.icon-19,
.icon-20{
	left: 80px;
}
.icon-19{
	top: 24px;
	font-size: 1.4em;
	&:before {
		content: "\e912";
	}
}
.icon-20{
	top: 22px;
	font-size: 1.57em;
	&:before {
		content: "\e913";
	}
}
.icon-21{
	top: 16px;
	left: 74px;
	font-size: 2em;
	&:before {
		content: "\e914";
	}
}
.icon-22{
	top: 24px;
	left: 80px;
	font-size: 1.5em;
	&:before {
		content: "\e915";
	}
}



@media screen and (min-width: 769px) {
	.btn-mobile{
		width: 180px;
	}
}
@media screen and (max-width: 735px) {
	.title-text{
		padding-left: 10px;
		& h2{
			font-size: 3em;
			line-height: 2.2;
			padding-top: 0;
		}
		& p{
			font-size: 1.83em;
		}
	}
	.box-star{
		top: 88px;
		left: 155px;
	}
	.button{
		font-size: 2em;
		padding: 8px 89px;
	}
}

@media screen and (max-width: 680px) {
	h2{
		font-size: 40px;
		line-height: 1;
	}
	.box-title{
		padding-top: 10px;
	}
	.title-button{
		margin-top: 25px;
	}
	.mm-menu{
		background-position: 0 163px;
	}
	.mm-hasnavbar-top-1 .mm-panels{
		top: 170px;
	}
	.mm-listview{
		font-size: 1.9em;
	}
	.mm-listview li{
		//margin: 2px 0;
		margin: 0;
	}
	.mm-listview > li > a::after{
		left: 40px;
	}
	.mm-listview-large .mm-listview > li > a:not(.mm-next){
		padding-left: 154px;
	}
	.icon-14,
	.icon-15,
	.icon-16,
	.icon-17,
	.icon-19,
	.icon-20,
	.icon-21,
	.icon-22{
		left: 60px;
	}
	
}

@media screen and (max-width: 600px) {
	h2{
		font-size: 30px;
		line-height: 1;
	}
	.box-search{
		& input{
		height: 54px;
		font-size: 2em;
		}
		& button{
			width: 65px;
			height: 60px;
			background-position: -1290px -2px;
		}
	}
	.box-field{
		&__label{
		font-size: 1.4em;
	}
		&__input::before{
			top: -7px;
		}
	}
	.box-field__input .styled,
	.jq-selectbox__dropdown,
	.jq-selectbox__select{
		width: 205px;
	}
	.jq-selectbox__select{
		font-size: 2em;
	}
	.title-text{
		padding-left: 10px;
		& h2{
			font-size: 2.5em;
			line-height: 2.2;
			padding-top: 0;
		}
		& p{
			font-size: 1.53em;
		}
	}
	.box-star{
		top: 80px;
		left: 130px;
	}
	.star{
		width: 20px;
		height: 18px;
		background-position: -694px -18px;
		background-size: 1100px;
		&--empty{
			background-position: -642px -18px;
		}
	}
	.button{
		padding: 2px 65px;
	}
	.owl-dots{
		left: 40%;
	}
}

@media screen and (max-width: 580px) {
	.mm-menu{
		background-position: 0 113px;
	}
	.mm-navbars-top{
		padding: 15px 0 40px 0;
		& .box-logo img{
			width: 45px;
			height: 51px;
		}
		& .logo-text{
			padding: 17px 0 0 15px;
			font-size: 2.8em;
		}
	}
	.mm-hasnavbar-top-1 .mm-panels{
		top: 120px;
	}
	.mm-listview{
		font-size: 1.7em;
	}
	.mm-listview > li > a::after{
		left: 25px;
	}
	.mm-listview-large .mm-listview > li > a:not(.mm-next){
		padding-left: 134px;
	}
	.mm-listview > li > a::after{
		top: 7px;
	}
	.mm-menu .mm-navbar > p{
		padding-bottom: 10px;
		padding-top: 0;
	}
	.box-search button{
		background-position: -1290px -7px;
	}
	.icon-14,
	.icon-15,
	.icon-16,
	.icon-17,
	.icon-19,
	.icon-20,
	.icon-21,
	.icon-22{
		left: 45px;
	}
	.icon-15{
		top: 13px;
	}
	.icon-16{
		top:15px;
	}
	.icon-17{
		top: 20px;
	}
	.icon-18{
		top: 9px;
	}
	.icon-19{
		top: 21px;
	}
	.icon-20{
		top: 18px;
	}
	.icon-21{
		top: 14px;
	}
	.icon-22{
		top: 21px;
	}
}

@media screen and (max-width: 525px) {
	.box-location form{
		padding: 5px 0 14px 75px;
	}
	.box-field{
		&__label{
		font-size: 0.9em;
	}
		&__input::before{
			top: -7px;
		}
	}
	.box-field__input .styled,
	.jq-selectbox__dropdown,
	.jq-selectbox__select{
		width: 175px;
	}
	.jq-selectbox__select{
		font-size: 1.6em;
	}
	.jq-selectbox__trigger-arrow{
		top: 2px;
		width: 10px;
		height: 10px;
	}
	.box-field__input::before{
		left: -40px;
		transform: scale(0.8)
	}
	.owl-carousel{
		margin-bottom: 22px;
	}
	.owl-dots{
		bottom: -27px;
	}
	.title-button{
		margin-top: 10px;
	}
	.button{
		padding: 2px 57px;
	}
	.box-search{
		padding: 20px 24px;
		& input{
		height: 54px;
		font-size: 1.8em;
		padding: 5px 59px 8px 19px;
		}
		& button{
			width: 55px;
			height: 50px;
			right: 5px;
			background-position: -1142px -4px;
			background-size: 1200px;
		}
	}
}

@media screen and (max-width: 480px) {
	.mm-menu{
		background-size: 100% 150%;
	}
	h2{
		font-size: 25px;
		padding: 5px 0;
	}
	.box-location form{
		padding-bottom: 5px;
	}
	.box-field__input .styled,
	.jq-selectbox__dropdown,
	.jq-selectbox__select{
		width: 155px;
	}
	.jq-selectbox__select{
		font-size: 1.4em;
	}
	.box-field__input::before{
		top: -9px;
		transform: scale(0.7)
	}
	.jq-selectbox li{
		font-size: 1.15em;
	}
	.jq-selectbox__trigger-arrow{
		width: 10px;
		height: 10px;
		left: 4px;
	}
	.box-search{
		padding: 15px 19px;
		& input{
		height: 35px;
		font-size: 1.1em;;
		}
		& button{
			top: -9px;
			right: 0;
			transform: scale(0.8);
		}
	}
	.box-title{
		padding-top: 25px;
		padding-left: 0;
	}
	.title-text{
		& h2{
			font-size: 2em;
			line-height: 1.5;
		}
		& p{
			font-size: 1.53em;
		}
		.cost{
			font-size: 1.5em
		}
	}
	.jq-selectbox__dropdown{
		top: 30px !important;
	}
	.box-star{
		top: 50px;
		left: 115px;
	}
	.star{
		width: 15px;
		height: 15px;
		background-position: -568px -14px;
		background-size: 900px;
		&--empty{
			background-position: -525px -14px;
		}
	}
	.button{
		font-size: 1.8em;
		padding: 2px 45px;
	}
	.owl-carousel{
		margin-bottom: 0;
	}
	.owl-dots{
		display: none;
	}
	.mm-navbars-top .logo-text{
		display: inline-block;
	}
	.mm-menu{
		background-position: 0 83px;
	}
	.mm-navbars-top{
		padding: 10px 0 30px 0;
		& .box-logo img{
			width: 37px;
			height: 43px;
		}
		& .logo-text{
			padding: 13px 0 0 10px;
			font-size: 2.2em;
		}
	}
	.mm-hasnavbar-top-1 .mm-panels{
		top: 90px;
	}
	.mm-listview{
		font-size: 1.2em;
		padding-top: 10px;
	}
	.mm-listview > li{
		margin: 0;
	}
	.mm-listview-large .mm-listview > li > a:not(.mm-next){
		padding-left: 99px;
	}
	.mm-listview > li > a::after{
		top: 2px;
	}
	.mm-listview > li > a::after{
		left: 30px;
		width: 42px;
		height: 35px;
		background-size: 1000px;
	}
	.mm-listview-large .mm-listview > li > a:not(.mm-next){
		padding: 0 0 0 95px;
	}
	.mm-listview > li > a::after{
		top: 8px;
		transform: scale(0.8);
	}
	.mm-listview > li:nth-child(8) > a::after{
		height: 40px;
	}
	.mm-menu .mm-navbar > p{
		font-size: 1em;
	}
	.item_5 a::after{
		background-position: -328px -13px;
	}
	.icon-14,
	.icon-15,
	.icon-16,
	.icon-17,
	.icon-19,
	.icon-20,
	.icon-21,
	.icon-22{
		left: 38px;
	}
	.mm-listview > li > a::before{
		width: 7px;
	}
	.icon-14{
		top: 12px;
	}
	.icon-15{
		top: 9px;
	}
	.icon-16{
		top: 12px;
	}
	.icon-17{
		top: 14px;
	}
	.icon-19{
		top: 15px;
	}
	.icon-20{
		top: 13px;
	}
	.icon-21{
		top: 10px;
	}
	.icon-22{
		top: 15px;
	}
}

@media screen and (max-width: 420px) {
	.box-title{
		padding-top: 10px;
	}
}

@media screen and (max-width: 380px) {
	.block-title{
		padding-left: 0;
	}
	h2{
		font-size: 20px;
	}
	.box-location form{
		padding-left: 65px;
	}
	.box-title{
		padding-left: 0;
	}
	.title-text{
		padding-left: 5px;
		& h2{
			font-size: 1.6em;
			line-height: 1.5;
		}
		& p{
			font-size: 1.33em;
		}
		.cost{
			font-size: 1.4em
		}
	}
	.box-star{
		top: 42px;
		left: 98px;
	}
	.star{
		width: 12px;
		height: 12px;
		background-position: -441px -10px;
		background-size: 700px;
		&--empty{
			background-position: -408px -10px;
		}
	}
	.button{
		font-size: 1.45em;
		padding: 1px 35px;
	}
	.mm-listview{
		font-size: 1em;
	}
	.mm-listview > li > a::after{
		top: 3px;
		left: 17px;
		transform: scale(0.7);
		background-size: 1000px;
	}
	.mm-listview-large .mm-listview > li > a:not(.mm-next){
		padding: 0 0 0 67px;
	}
	.mm-navbars-top{
		& .box-logo img{
			transform: scale(0.65);
		}
		& .logo-text{
			padding-top: 15px;
			padding-left: 5px;
			font-size: 1.7em;
		}
	}
	.mm-menu .mm-navbar > p{
		font-size: 0.8em;
	}
	.icon-14,
	.icon-15,
	.icon-16,
	.icon-17,
	.icon-19,
	.icon-20,
	.icon-21,
	.icon-22{
		left: 25px;
	}
	.icon-14{
		top: 11px;
	}
	.icon-15{
		top: 8px;
	}
	.icon-16{
		top: 8px;
	}
	.icon-17{
		top: 12px;
	}
	.icon-19{
		top: 12px;
	}
	.icon-20{
		top: 10px;
	}
	.icon-21{
		top: 8px;
	}
	.icon-22{
		top: 12px;
	}
}

