
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	position: relative;
	width: 100%; 
	min-width: $min-width;
	padding: 32px 0 27px;
	text-align: left;	
	order: 1;
	background: #007eff;
	box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.13);
	z-index: 10;
}
.box-logo{
	display: inline-block;
	padding-left: 28px;
	& img{
		width: 50px;
		height: 55px;
	}
}
.logo-text{
	display: inline-block;
	padding: 20px 0 0 12px;
	font-size: 2.728em;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0.5px;
	text-align: justify;
	vertical-align: top;
	color:  #bedcff;
}
.box-icon{
	display: inline-block;
	float: right;
	width: 50%;
	padding-right: 10px;
}
.list-icon{
	list-style: none;
	margin-left: 30px;
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin-left: 21px;
		width: 20%;
		&:first-child{
			margin: 0
		}
		&:last-child{
			width: 18%;
			margin-left: 10px;
		}
		& a{
			display: block;
			position: relative;
			text-align: center;
			min-height: 52px;
		}
		& span{
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			font-size: 3.55em;
			color: #fff;
			opacity: 1;
		}
		.js-message-count{
			position: absolute;
			text-align: center;
			top: -9px;
			left: 37px;
			width: 48px;
			height: 30px;
			padding-top: 4px;
			font-size: 1.8em;
			font-weight: 700;
			color: #fff;
			border-radius: 16px;
			background-color: #ffc600;
		}
		.icon-9{
			top: 2px;
			font-size: 4.7em;
		}
		.icon-11{
			top: 3px;
		}
	}
}

.item-link_4{
	display: inline-block;
	position: relative;
	background: none;
	text-align: center;
}
.btn-mobile{
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 140px;
	height: 118px;
	padding-top: 7px;
	z-index: 99;
	background-color: rgb(0, 126, 255);
	text-align: center;
}
.item-link_4 span,
.btn-mobile span{
		position: absolute;
		top: 40%;
		left: 51%;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #fff;
		&::before{
			top: 13px;
		}
		&::after{
			top: -13px;
		}
	}
.btn-mobile span{
	top: 48%;
	left: 42%;
}
.item-link_4 span::before,
.item-link_4 span::after,
.btn-mobile span::before,
.btn-mobile span::after{
	content: '';
	position: absolute;
	left: 0px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #fff;
}


@media screen and (max-width: 765px) {
	.list-icon{
		margin-left: 0;
		text-align: right;
		&__item{
			margin-left: 10px;
		}
	}
}

@media screen and (max-width: 735px) {
	header{
		padding: 27px 0;
		.box-logo{
			vertical-align: top;
			padding-top: 6px;
			& img{
				width: 38px;
				height: 43px;
			}
		}
	}
	.logo-text{
		font-size: 2.2em;
		padding-top: 15px;
	}
	.list-icon__item .icon-10,
	.list-icon__item .icon-11{
		top: 7px;
		font-size: 3.15em;
	}	
	.list-icon__item .icon-9{
		font-size: 4.2em;
	}
	.list-icon__item .js-message-count{
		left: 25px;
		transform: scale(0.75);
	}
}

@media screen and (max-width: 660px) {
	header{
		.box-logo{
			padding-left: 20px;
			padding-top: 0;
		}
	}
	.box-arrow a{
		width: 30px !important;
	}
	.box-arrow a::before{
		left: 22px !important;
		top: 13px !important;
	}
	.box-icon{
		padding-top: 0px;
		a[class^='item-link']{
			width: 55px;
			height: 50px;
		}
	}
	.btn-mobile{
		height: 102px;
	}
}

@media screen and (max-width: 660px) {
	.item-link_4 span{
		left: 28%;
	}
	.btn-mobile span{
		left: 35%;
	}
}

@media screen and (max-width: 580px) {
	header{
		padding: 18px 0 12px;
	}
	.box-arrow a{
		margin-left: 10px !important;
		&::before{
			top: 12px !important;
		}
	}
	.box-logo{
		padding: 5px 0 0 10px;;
		img{
			width: 30px;
			height: 35px;
			transform: scale(0.9);
		}
	}
	.logo-text{
		font-size: 1.8em;
		padding: 15px 0 0 5px;
	}
	.list-icon__item:last-child{
		margin-left: 0;
	}
	.btn-mobile{
		height: 80px;
		& span{
			width: 6px;
			height: 6px;
			left: 30%;
			&::before,
			&::after{
				width: 6px;
				height: 6px;
			}
			&::before{
				top: 11px;
			}
			&::after{
				top: -11px;
			}
		}
	}
	.list-icon__item .icon-9{
		margin-top: -2px;
	}
	.list-icon__item .icon-9,
	.list-icon__item .icon-10,
	.list-icon__item .icon-11,
	.item-link_4{
		transform: scale(0.8);
	}
	.list-icon__item .js-message-count{
		top: -4px;
		left: 17px;
		transform: scale(0.6);
	}
}

@media screen and (max-width: 480px) {
	header{
		padding: 9px 0 5px;
		.box-logo{
			padding-left: 15px;
			& img{
				transform: scale(0.7);
			}
		} 
	}
	.logo-text{
		font-size: 1.5em;
	}
	.list-icon{
		text-align: center;
		&__item a{
			margin: 0 auto;
		}
	}
	.box-icon{
		padding-right: 15px;
	}
	.btn-mobile{
		height: 60px;
		& span{
			width: 5px;
			height: 5px;
			left: 25%;
			&::before,
			&::after{
				width: 5px;
				height: 5px;
			}
			&::before{
				top: 9px;
			}
			&::after{
				top: -9px;
			}
		}
	}
	.list-icon__item .icon-9,
	.list-icon__item .icon-10,
	.list-icon__item .icon-11,
	.item-link_4{
		transform: scale(0.67);
	}
	.list-icon__item .js-message-count{
		top: 0px;
		left: 12px;
		transform: scale(0.5);
	}
}

@media screen and (max-width: 380px) {
	header{
		.box-logo{
			padding-left: 10px;
			img{
			transform: scale(0.6);
			}
		}
	}
	.logo-text{
		font-size: 1.1em;
		padding-left: 0;
	}
	.btn-mobile span{
		left: 18%;
	}
	.list-icon__item .icon-9,
	.list-icon__item .icon-10,
	.list-icon__item .icon-11,
	.item-link_4{
		transform: scale(0.58);
	}
}

@media screen and (max-width: 345px) {
	.box-logo{
		padding-left: 15px;
	}
}