
/* fonts */
@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto/Roboto Black.eot');
	src: url('../fonts/Roboto/Roboto Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto Black.woff') format('woff'), url('../fonts/Roboto/Roboto Black.ttf') format('truetype'), url('../fonts/Roboto/Roboto Black.svg#Roboto Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}
@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto/Roboto Bold.eot');
	src: url('../fonts/Roboto/Roboto Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto Bold.woff') format('woff'), url('../fonts/Roboto/Roboto Bold.ttf') format('truetype'), url('../fonts/Roboto/Roboto Bold.svg#Roboto Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}
@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto/Roboto.eot');
	src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto.woff') format('woff'), url('../fonts/Roboto/Roboto.ttf') format('truetype'), url('../fonts/Roboto/Roboto.svg#Roboto') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}

@font-face {
	font-family: 'Heebo';
	src: url('../fonts/Heebo/Heebo-Black.eot');
	src: url('../fonts/Heebo/Heebo-Black.woff') format('woff'), url('../fonts/Heebo/Heebo-Black.ttf') format('truetype'), url('../fonts/Heebo/Heebo-Black.svg#Heebo-Black') format('svg'), url('../fonts/Heebo/Heebo-Black.eot?#iefix') format('embedded-opentype');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Heebo';
	src: url('../fonts/Heebo/Heebo-Bold.eot');
	src: url('../fonts/Heebo/Heebo-Bold.woff') format('woff'), url('../fonts/Heebo/Heebo-Bold.ttf') format('truetype'), url('../fonts/Heebo/Heebo-Bold.svg#Heebo-Bold') format('svg'), url('../fonts/Heebo/Heebo-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'Heebo';
	src: url('../fonts/Heebo/Heebo-Regular.eot');
	src: url('../fonts/Heebo/Heebo-Regular.woff') format('woff'), url('../fonts/Heebo/Heebo-Regular.ttf') format('truetype'), url('../fonts/Heebo/Heebo-Regular.svg#Heebo-Regular') format('svg'), url('../fonts/Heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b5bssl');
  src:  url('../fonts/icomoon.eot?b5bssl#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?b5bssl') format('truetype'), url('../fonts/icomoon.woff?b5bssl') format('woff'), url('../fonts/icomoon.svg?b5bssl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
